[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Bdgerling
	email = 128876570+Bdgerling@users.noreply.github.com
